*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  margin-top: 60px;
  font-size: 18px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: lightblue;
}

body{
  background: hsl(233, 47%, 7%);
  margin-top: 100px;
  width: 100%;
}

.card-wrapper{
  background: hsl(244, 38%, 16%);
  width: 75%;
  height: 400px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.img{
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

.img::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

img{
  width: 100%;
  height: 100%;
  float: right;
  display: block;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.writings{
  margin-right: 50%;
}

.main-heading{
  color:  hsl(0, 0%, 100%);
  padding-top: 5%;
  font-family: Inter;
  font-size: 200%;
  font-weight: 200;
  width: 95%;
  display: inline-block;
  padding-left: 10%;
  padding-right: 8%;

}

#insights{
  color: #aa5cdb;
}

.main-words{
  font-family: Inter;
  font-size: 100%;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 10%;
  width: 100%;
  display: inline-block;
  padding-left: 10%;
  padding-right: 8%;
}

.stats{
  margin-top: 17%;
  padding-right: 8%;
  padding-left: 10%;
  width: 70%;
  display: grid;
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 31%;
  padding-left: 10%;
  text-align: center;
}

.a-stat{
  font-family: Inter;
  font-size: 120%;
}

.a-stat p{
  font-size: 50%;
}


@media all and (max-width: 950px){
  .main-heading{
    font-size: 170%;
    font-weight: 185;
    margin-top: 4%;
  }

  .main-words{
    font-size: 90%;
    margin-top: 20%
  }

  .stats{
    margin-top: 17%;
    width: 70%;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28%;
  }

  .a-stat{
    font-size: 100%;
  }

  .a-stat p{
    font-size: 40%;
  }
}

#github {
  font-size: 40px;
  color: #65676b;
  display: block;
  display: flex;
  justify-content: right;
  margin-right: 50px;
  margin-bottom: 40px;
}

body > a {
  text-decoration: none;
}

@media all and (max-width: 650px){
  body{
    margin-top: 140px;
  }

  .card-wrapper{
    width: 85%;
    height: 300px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-heading{
    font-size: 140%;
    font-weight: 165;
    margin-top: 2%;
  }

  .main-words{
    font-size: 80%;
    margin-top: 10%
  }

  .stats{
    margin-top: 17%;
    width: 70%;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28%;
  }

  .a-stat{
    font-size: 100%;
  }

  .a-stat p{
    font-size: 40%;
  }

  .attribution {
    margin-top: 120px;
  }
}

@media all and (max-width: 550px){
  .attribution {
    margin-top: 10%;
    font-size: 14px;
  }

  body{
    margin-top: 100px;
  }

  .card-wrapper{
    width: 85%;
    height: 100%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  img{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;

  }

  .img{
    width: 100%;
    height: 50%;
    float: right;
    display: block;
    position: relative;
  }

  .img::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.6;
    position: absolute;
    top: 0;
    border-top-left-radius: 7px;
    left: 0;
  }



  .writings{
    margin-right: 0;

  }

  .main-heading{
    font-size: 180%;
    font-weight: 200;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-words{
    font-size: 19px;
    width: 100%;
    text-align: center;
  }

  .stats{
    width: 100%;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr ;
    grid-row-gap: 30px;
    padding-bottom: 12%;
  }

  .a-stat{
    font-size: 110%;
  }

  .a-stat p{
    font-size: 50%;
  }

}
